# Copy to docker-compose.override.yml to use an external Postgres.
# Also update DATABASE_URL in docker-compose.yml to point at your external host.

services:
  journal-web:
    depends_on: !override {}   # Uncomment to join an external Docker network:
    # networks:
    #   - your-network-name

# networks:
#   your-network-name:
#     external: true
